.container{
    height:100%;
    width:100%;
    display:flex;
    align-items: center;
}
.list{
    text-align: left;
    max-width: 750px;
    margin:auto;
}
.submit-form{
    align-items: center;
    max-width: 600px;
    margin:auto;
}
.edit-form{
    max-width: 300px;
    margin:auto;
}